* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}
body{
	background: url(../images/lang-back.jpg);
	background-position: center;
	background-size: cover;
}
h1, h2{
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	color: white;
}
#placeholder{
	font-size: 2rem;
}
p{
	font-family: "Open Sans", sans-serif;
	color:white;
}
#lang-page {
	width: 90%;
	margin: 25% auto;
	max-width: 1000px;
	background-color: rgba(14, 60, 91, 0.7);
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	padding: 3%;
}

#lang-page p {
	padding: 2% 0;
}

#lang-intro {
	text-align: center;
}

#lang-page h1, #lang-page h2 {
	font-family: "Poppins";
}

#lang-page h1 {
	font-size: 3rem;
	text-transform: uppercase;
}

#translator {
	width: 100%;
	font-size: 1.5rem;
}

#translator h2 {
	width: 90%;
	margin: auto;
	text-align: center;
}

#lang-translations {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2%;
}

#lang-translations h2 {
	display: none;
}

#lang-translations figure {
	margin: auto;
	width: 40%;
	filter: opacity(60%);
}

#lang-translations figure:hover {
	filter: opacity(100%);
}

#lang-translations figure img {
	width: 100%;
	max-width: 300px;
}

#lang-origin figure {
	margin: auto;
	text-align: center;
}

#lang-origin figure img {
	max-width: 150px;
	width: 100%;
}

#lang-origin figcaption {
	font-size: 0.75rem;
}
#lang-origin{
	margin-bottom: 10%;
}
a{
	text-decoration: none;
}
header{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
nav{
	z-index: 100;
	top: .2%;
	display: flex;
}
.hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 2em 0 3em;
}
.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 30px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #282828;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'ecoicon';
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.hi-icon-archive:before {
	content: "\02c2";
}

.hi-icon-chat:before {
	content: "\2302";
}

.hi-icon-bookmark:before {
	content: "\02c3";
}

.hi-icon-effect-8 .hi-icon {
	background: rgba(255,255,255,0.8);
	-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
	-moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
	transition: transform ease-out 0.1s, background 0.2s;
}

.hi-icon-effect-8 .hi-icon:after {
	top: 0;
	left: 0;
	padding: 0;
	z-index: -1;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
	opacity: 0;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.hi-icon-effect-8 .hi-icon:hover {
	background: rgba(255,255,255,0.3);
	-webkit-transform: scale(0.93);
	-moz-transform: scale(0.93);
	-ms-transform: scale(0.93);
	transform: scale(0.93);
	color: #383838;
}

.hi-icon-effect-8 .hi-icon:hover:after {
	-webkit-animation: sonarEffect 1.3s ease-out 75ms;
	-moz-animation: sonarEffect 1.3s ease-out 75ms;
	animation: sonarEffect 1.3s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
		-webkit-transform: scale(1.5);
		opacity: 0;
	}
}
@-moz-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
		-moz-transform: scale(1.5);
		opacity: 0;
	}
}
@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}
@keyframes load {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.animate {
	animation: load 3s ease forwards;
}

@media (min-width: 500px) {
	#lang-page {
		border-radius: 10px;
	}

	#lang-translation {
		justify-content: center;
	}

	#lang-translations figure{
		max-width: 140px;
		margin: 1%;
	}

	#lang-origin figure {
		float: left;
		width: 18%;
		padding-right: 3%;
	}
}

@media (min-width: 875px) {
	#lang-page {
		margin: 5% auto;
	}

	#lang-origin p {
		padding: 2% 0 0 0;
	}
}
